:root {
    --main-color: #323232;
    --secondary-color: #BDA28F;
}

* {

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Almarai', sans-serif;
    color: var(--secondary-color);
    text-decoration: none;
}

body {
    direction: rtl;
    overflow-x: hidden;
}

.container {
    padding: 10px 6vw;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* ******************************Navbar****************************** */

.navbar {
    position: fixed;
    width: 100vw;
    height: 80px;
    background-image: url("../Images/mainBackground.png");
}

.navbar .container {
    padding-top: 2px;
    padding-bottom: 2px;
    height: 100%;
    justify-content: space-between;
}

.navbar .container .logo {
    height: 100%;
}

.navbar .container .logo img {
    height: 100%;
    mix-blend-mode: difference;

}

.navbar .container .nav-elements {
    height: 100%;
}

.navbar .container .nav-elements ul {
    height: 100%;
    gap: 3vw;
}

.navbar .container .nav-elements ul li {
    height: 100%;
    padding: 0 10px;
}

.navbar .container .nav-elements ul li:hover {

    background-image: url("../Images/secondaryBackground.png");
}

.navbar .container .nav-elements ul li a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    font-weight: 800;
}

.navbar .container .nav-elements ul li:hover a {
    color: black;
}

/* ******************************Landing Section****************************** */

.landing-section {
    height: 100vh;
    position: sticky;
    z-index: -1;
    background-image: url("../Images/mainBackground.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    flex-direction: column;
}

.landing-section img {
    position: fixed;
    z-index: -1;
    width: 80vh;
    mix-blend-mode: difference;
}

/* ******************************About Section****************************** */

.about-section {
    box-shadow: 0 0 20px black;
    background-image: url("../Images/mainBackground.png");

}

/* ******************************Landing Section****************************** */

.services-section {
    background-image: url("../Images/mainBackground.png");
    height: 100vh;
}

.services-section .container .services-container {
    gap: 50px;
}

.services-section .container .services-container .pocket-container {
    position: relative;
    width: 150px;
    height: 150px;
}

.services-section .container .services-container .pocket-container .service-stamp {
    width: 150px;
    height: 150px;
    position: absolute;
    box-shadow: 0 0 5px #000;
    overflow: hidden;
    background-image: url("../Images/mainBackground.png");
}

.services-section .container .services-container .pocket-container .service-stamp::before,
.services-section .container .services-container .pocket-container .service-stamp::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: -50%;
    box-shadow: 0 0 3px #000;
    background-image: url("../Images/mainBackground.png");
    z-index: 3;
}

.services-section .container .services-container .pocket-container .service-stamp::before {
    left: -15%;
    right: 40.5%;
    transform: rotate(-45deg);
}

.services-section .container .services-container .pocket-container .service-stamp::after {
    left: 40.5%;
    right: -15%;
    transform: rotate(45deg);
}

.services-section .container .services-container .pocket-container .service-stamp .service-name {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    color: var(--main-color);
    text-align: center;
    font-size: 11px;
    z-index: 6;
}

.services-section .container .services-container .pocket-container .service-stamp .service-background {
    width: 90px;
    height: 90px;
    position: relative;
    background-image: url("../Images/mainBackground.png");
    z-index: 5;
    border-radius: 50%;
}

.services-section .container .services-container .pocket-container .service-stamp .service-background::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("../Images/Group000.svg");
    background-position: center;
    background-size: 100%;
    mix-blend-mode: difference;
    z-index: 5;
}

.services-section .container .services-container .pocket-container .service-stamp .service-background::after {
    content: "";
    width: 85%;
    height: 85%;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../Images/Ellipse153.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    box-shadow: inset 2px 2px 2px rgba(236, 210, 189, 0.7),
        inset -2px -2px 2px rgba(236, 210, 189, 0.7),
        inset 2px -2px 2px rgba(236, 210, 189, 0.7),
        inset -2px 2px 2px rgba(236, 210, 189, 0.7),
        0.5px 0.5px 1px rgba(236, 210, 189, 0.7),
        -0.5px -0.5px 1px rgba(236, 210, 189, 0.7),
        0.5px -0.5px 1px rgba(236, 210, 189, 0.7),
        -0.5px 0.5px 1px rgba(236, 210, 189, 0.7);
    mix-blend-mode: difference;
    z-index: 5;
}

.services-section .container .services-container .pocket-container .cards-container {

    position: absolute;
    width: 90%;
    max-height: 100%;
    left: 50%;
    top: -10%;
    transform: translateX(-50%);
    border-radius: 5px;
    padding: 1rem;
    overflow: hidden;
    background-image: url("../Images/secondaryBackground.png");
}

.services-section .container .services-container .pocket-container .cards-container .service-card,
.services-section .container .services-container .pocket-container .cards-container .service-card .inner-service-card {
    font-size: 10px;
    list-style: circle;
    color: #000;
    position: relative;
}

.services-section .container .services-container .pocket-container .cards-container .service-card .inner-service-card {
    padding-right: 0.5rem;
    list-style-position: inside;
}

.services-section .container .services-container .pocket-container .cards-container .service-card:not(:last-child) {
    margin-bottom: 1rem;
}

ul.service-card::before {
    content: "";
    position: absolute;
    top: 2px;
    right: -11.5px;
    width: 2px;
    height: 2px;
    border: 1px solid #000;
    border-radius: 50%;
    list-style: circle;
}

.services-section .container .services-container .pocket-container:hover .cards-container {

    animation: show-card 2s ease-in-out normal forwards;
}

@keyframes show-card {

    50% {
        transform: translate(-50%, -100%);
        max-height: fit-content;
        overflow: visible;
    }

    100% {
        z-index: 10;
        bottom: 10%;
        transform: translate(-50%, -20%);
        max-height: fit-content;
        overflow: visible;
    }
}